PORT=3000
NODE_ENV=development

JWT_ACCESS_SECRET="iFpfkd?.KX-IOn]jmaXA2[xIHHVuik!pP3:nz01AcoM"
INTERNAL_API_KEY="kskjdfh23r9sdf8sdf7sdf7sdf7sdf7sdf"

FRONTEND_APP_ID=frontend-app-123

AUTH_SERVICE_URL=http://localhost:3001
RBAC_SERVICE_URL=http://localhost:3002
NOTIFICATION_SERVICE_URL=http://localhost:3003
MASTER_SERVICE_URL=http://localhost:3004
LOG_SERVICE_URL=http://localhost:3005
CORS_ORIGIN=http://localhost:5173